@import "tailwindcss";

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular/fonnts.com-DegularDemo-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: "Degular", sans-serif;
}
